---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout title="Austin Atkinson | About">
    <div class="container px-4 mx-auto text-sky-400">
        About
    </div>
</SiteLayout>
